@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  text-decoration: none;
  font-size: 1em;
  outline: none;
  padding: 0;
  margin: 0;
}
code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
  white-space: normal;
  font-size: 1em;
  font: inherit;
}
dfn,
i,
cite,
var,
address,
em {
  font-style: normal;
}
th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a,
img,
a img,
iframe,
form,
fieldset,
abbr,
acronym,
object,
applet,
table {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td,
center {
  vertical-align: top;
  text-align: left;
}
body {
  background: white;
  line-height: 1;
  color: black;
}
q {
  quotes: '' '';
}
ul,
ol,
dir,
menu {
  list-style: none;
}
sub,
sup {
  vertical-align: baseline;
}
a {
  color: inherit;
}
hr {
  display: none;
}
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important; /* editor's note: necessary? */
}
marquee {
  overflow: inherit !important;
  -moz-binding: none;
}
blink {
  text-decoration: none;
}
nobr {
  white-space: normal;
}
